<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-model</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div>
            <input type="text" v-model="message" placeholder="请输入文本">
            <p>输入的文本是：</p>
            {{message}}
            <!-- 使用@input实现实时更新，（在输入拼音时也会实时展示） -->
            <input type="text" @input="handleMessage" placeholder="请输入文本">
            <p>输入的文本是：</p>
            {{message1}}
            <br /><br /><br />
            <textarea v-model="textMessage" placeholder="请输入"></textarea>
            <p style="white-space: pre;">输入的文本是：</p>
            {{textMessage}}
        </div>
        <div>
            <input type="radio" :checked="picked">
            <label>单选按钮</label>

            <!-- 互斥单选按钮 -->
            <input type="radio" v-model="picked1" value="html" id="html">
            <label for="html">HTML</label>
            <input type="radio" v-model="picked1" value="js" id="js">
            <label for="js">js</label>
            <input type="radio" v-model="picked1" value="css" id="css">
            <label for="css">css</label>
            <p>选择的项是：{{picked1}}</p>
        </div>
        <div>
            <input type="checkbox" v-model="picked2" value="html" id="html">
            <label for="html">HTML</label>

            <!-- 互斥单选按钮 -->
            <input type="checkbox" v-model="picked3" value="html" id="html">
            <label for="html">HTML</label>
            <input type="checkbox" v-model="picked3" value="js" id="js">
            <label for="js">js</label>
            <input type="checkbox" v-model="picked3" value="css" id="css">
            <label for="css">css</label>
            <p>选择的项是：{{picked3}}</p>
        </div>
        <div>
            <select v-model="selected">
                <option>html</option>
                <option value="js">JavaScript</option>
                <option>css</option>
            </select>
            <select v-model="selected1" multiple>
                <option>html</option>
                <option value="js">JavaScript</option>
                <option>css</option>
            </select>
            <p>选择的是：{{selected1}}</p>
            <select v-model="selected2">
                <option v-for="item in options" :value="item.value">{{item.text}}</option>
            </select>
            <p>选择的是：{{selected2}}</p>
        </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
        var app1 = new Vue({
            el: "#app",
            data: {
                message: "...",
                message1: "...",
                textMessage: '......',
                picked: false,
                picked1: 'js',
                picked2: false,
                picked3: ['js', 'html'],
                selected: 'js',
                selected1: ['js', 'html'],
                selected2: 'js',
                options: [
                    { text: 'HTML', value: 'html' },
                    { text: 'JS', value: 'js' },
                    { text: 'CSS', value: 'css' },
                ]
            },
            methods: {
                handleMessage: function (e) {
                    this.message1 = e.target.value;
                }
            },
            mounted: function () {
                console.log("white-space 属性设置如何处理元素内的空白。pre:空白会被浏览器保留");
                console.log("pick1属性与value值绑定;for属性规定label与id元素绑定。")
                console.log("option＞是备选工页，如果含有 value 属性 v-model 就会 先匹配 value。");
                console.log("如果没有 就会直接匹配＜option＞的 text ，比如选中第二项时 selected 的值是 js 而不是 JavaScript");
            }
        });
    </script>
</body>

</html>