<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基本使用</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <anchor :level="2" title="特性">特性</anchor>
        <!-- 一般写法 -->
        <script type="text/x-template" id="anchor">
            <div>
                <h1 v-if="level==1">
                    <a :href="'#'+title">
                        <slot></slot>
                    </a>
                </h1>
                <h2 v-if="level==2">
                    <a :href="'#'+title">
                        <slot></slot>
                    </a>
                </h2>
                <h3 v-if="level==3">
                    <a :href="'#'+title">
                        <slot></slot>
                    </a>
                </h3>
                <h4 v-if="level==4">
                    <a :href="'#'+title">
                        <slot></slot>
                    </a>
                </h4>
                <h5 v-if="level==5">
                    <a :href="'#'+title">
                        <slot></slot>
                    </a>
                </h5>
                <h6 v-if="level==6">
                    <a :href="'#'+title">
                        <slot></slot>
                    </a>
                </h6>
            </div>
        </script>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
        Vue.component('anchor', {
            // template: '#anchor',
            props: {
                level: {
                    type: Number,
                    required: true
                },
                title: {
                    type: String,
                    default: ""
                }
            },
            // 通过createElement参数来创建Virtual Dom
            render: function (createElement) {
                return createElement(
                    'h' + this.level,
                    [
                        createElement(
                            'a', {
                            domProps: {
                                href: '#' + this.title
                            }
                        },
                            this.$slots.default
                        )
                    ]
                )
            }
        });
        var app = new Vue({
            el: "#app",
            mounted: function () {
            }
        });
    </script>
</body>

</html>