<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5.5 实战：利用计算属性、指令等知识开发购物车</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
    <div id="app" v-cloak>
        <template v-if="goods.length">
            <table class="tbl">
                <thead class='thCss'>
                    <tr>
                        <th class="tHead"> </th>
                        <th class="tHead">
                            <input type="checkbox" @click="handleAll" v-model="isAllSelect"></input>
                        </th>
                        <th class="tHead">商品类别</th>
                        <th class="tHead">商品名称</th>
                        <th class="tHead">商品单价</th>
                        <th class="tHead">购买数量</th>
                        <th class="tHead">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(good,index) in goods">
                        <tr v-for="(item,i) in good.productList" :class={'divCss':i==good.productList.length-1}>
                            <td>{{i+1}}</td>
                            <td>
                                <input type="checkbox" @click="handleSelect(index,i)" v-model="item.isSelect"></input>
                            </td>
                            <td :rowspan="good.productList.length" v-if="i==0">{{good.name}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>
                                <button @click="sub(index,i)" :disabled="item.num===1">-</button>
                                {{item.num}}
                                <button @click="add(index,i)">+</button>
                            </td>
                            <td>
                                <button @click="del(index,i)">移除</button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <h2>总价：{{totalPrice}}</h2>
        </template>
        <template v-else>
            暂无数据
        </template>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="index.js"></script>
</body>

</html>